@charset "UTF-8";

:root{
    font-size: 1em;
    font-family:  "Lobster", sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a:link, a:focus, a:visited{
    text-decoration: none;
    color: #fff;
}
img{
    max-width: 100%;
}
body{
    width: 100vw;
    min-width: 300px;
}
#container{
    display: flex;
    width: 100%;
    flex-direction: column;
    height: auto;
}
/*--------------------#modal  start---------------*/
#modal {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    z-index: 9999;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
}

#modal .contents {
    width: 95%;
    height: 95%;
    background: ##2e6b92;
    text-align: center;
    margin: 10px 30px;
    position: absolute;
}

#modal .contents button {
    width: 3%;
    height: 5%;
    border-radius: 50%;
    text-align: center;
    margin-left: 80%;
    margin-top: 50px;
    overflow: hidden;
   }

#modal .contents button img {
    width: 100%;
    height: 100%;
    margin-left: -3%;
    margin-top: 0;

}

.amp {
    font-family: Garamond, Baskerville, Georgia, serif !important;
    font-style: italic;
    font-weight: normal;
    border: none;

}

a.polaroid {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px 10px 20px 10px;
    width: 150px;
    border: 1px solid #BFBFBF;
    background-color: white;
    z-index: 2;
    font-size: 0.7em;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.5s ease-in;
}

a.polaroid:hover,
a.polaroid:focus,
a.polaroid:active {
    z-index: 999;
    border-color: #6A6A6A;
    -webkit-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
    -webkit-transform: rotate(0deg) scale(1.05);
    -moz-transform: rotate(0deg) scale(1.05);
    transform: rotate(0deg) scale(1.05);
}

.polaroid img {
    margin: 0 0 15px;
    width: 150px;
    height: 150px;
}

a img {
    border: none;
    display: block;
}

.photo-album {
    position: relative;
    width: 80%;
    margin: 0 auto;
    max-width: 70em;
    height: 450px;
    margin-top: 5em;
    min-width: 800px;
    max-width: 900px;
}

.photo-album .polaroid {
    position: absolute;
}

.photo-album h1 {
    position: absolute;
    z-index: 5;
    top: -100px;
    text-align: center;
    width: 100%;
    line-height: 1.9;
    font-size: 2.5em;
    color: #fff;
}

.photo-album h1 span {
    font-family: "Lobster", sans-serif;
    padding: 0.4em 6em 0.3em 6em;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.photo-album .small {
    width: 75px;
    padding: 6px 6px 12px 6px;
    font-size: 0.6em;
}

.photo-album .small img {
    width: 75px;
    height: 75px;
}

.photo-album .medium {
    width: 200px;
    padding: 13px 13px 26px 13px;
    font-size: 0.8em;
}

.photo-album .medium img {
    width: 200px;
    height: 200px;
}

.photo-album .large {
    width: 300px;
    padding: 20px 20px 30px 20px;
    font-size: 1em;
}

.photo-album .large img {
    width: 300px;
    height: 300px;
}

.photo-album .img1 {
    bottom: 10px;
    right: 365px;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    transform: rotate(10deg);
}

.photo-album .img2 {
    top: 50px;
    right: 20px;
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    transform: rotate(-4deg);
}

.photo-album .img3 {
    left: 400px;
    top: 0;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.photo-album .img4 {
    top: 10px;
    left: 495px;
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

.photo-album .img5 {
    bottom: 0;
    right: 0;
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    transform: rotate(1deg);
}

.photo-album .img6 {
    bottom: 10px;
    right: 156px;
    -webkit-transform: rotate(6deg);
    -moz-transform: rotate(6deg);
    transform: rotate(6deg);
}

.photo-album .img7 {
    bottom: 0;
    left: 400px;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.photo-album .img8 {
    bottom: -20px;
    left: 700px;
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    transform: rotate(-8deg);
}

.photo-album .img9 {
    bottom: 0;
    left: 0;
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    transform: rotate(-8deg);
}

.photo-album .img10 {
    top: 0;
    left: 20px;
    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    transform: rotate(8deg);
}

.photo-album .img11 {
    top: 0;
    right: 0;
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    transform: rotate(-8deg);
}

.photo-album .img12 {
    top: 0;
    left: 680px;
    -webkit-transform: rotate(18deg);
    -moz-transform: rotate(18deg);
    transform: rotate(18deg);
}

.photo-album .img13 {
    bottom: -20px;
    right: 630px;
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    transform: rotate(4deg);
}

.photo-album .img14 {
    top: 90px;
    left: 430px;
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    transform: rotate(15deg);
}

.photo-album .img15 {
    left: 176px;
    top: 20px;
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    transform: rotate(-8deg);
}

a:hover,
a:focus {
    z-index: 5;
}
/*--------------#wrapper1 start------*/
#wrapper1{
    display: flex;
    width: 100%;
    height: 850px;
    flex-direction: column;
}

.slide-logo p{
    width: 20%;
    height: auto;
    position: absolute;
  top: 55%;
    left: 40%;
     color:#fff;
    font-size: 2em;
    text-align: center;
   }
.slide-logo span{
    font-size: 2em;
    top: 850px;
}


/*---------------#wrapper2 start------*/
#wrapper2:before{
    display: block;clear: both;content: "";
}
#wrapper2{
    display: flex;
    width: 100%;
    height: 850px;
     background-color: #2e6b92;
    flex-direction: column;
   align-content: center;
  
}
.special_logo h1 {
    font-family: "Lobster", sans-serif;
    color: #fff;
    font-size: 3.5em;
    text-align: center;
    margin-top: .5em;;
   }

.special_logo h1 span {
    font-size: .6em;
    font-family: 굴림;
    font-weight: bold;
   }

#works{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
        "item1 item2 item3 item4"
        "item5 item2 item6 item4"
        "item5 item7 item6 item8";
    width: 100%;
    height: 1440px;
}
.item{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
}
.item a{
    font-size:0;
    text-align: center;
   z-index: 10;
}
.item:hover a{
    font-size: 2.6rem;
    color: #fff;
}
.item:hover .bg-hover{
    opacity: .7;
}
.item-1{
    grid-area: item1;
    background: url("../images/mm1.jpg") center no-repeat;
    background-size: cover;
}
.item-2{
    grid-area: item2;
    background: url("../images/sm1.jpg") center no-repeat;
    background-size: cover;
}
.item-3{
    grid-area: item3;
    background: url("../images/sm4.jpg") center no-repeat;
    background-size: cover;
}
.item-4{
    grid-area: item4;
    background: url("../images/mm6.jpg") center no-repeat;
    background-size: cover;
}
.item-5{
    grid-area: item5;
    background: url("../images/sm3.jpg") center no-repeat;
    background-size: cover;
}
.item-6{
    grid-area: item6;
    background: url("../images/mm4.jpg") center no-repeat;
    background-size: cover;
}
.item-7{
    grid-area: item7;
    background: url("../images/mm2.jpg") center no-repeat;
    background-size: cover;
}
.item-8{
    grid-area: item8;
    background: url("../images/sm5.jpg") center no-repeat;
    background-size: cover;
}

/* -------#wrapper3  start-----*/

#wrapper3{
    display: flex;
    width: 100%;
    height: 850px;
     background-color: #2b9baf;
    flex-direction: column;
   align-content: center;
 }

.intro_title {
    text-align: center;
    font-size: 3.125em;
       color: #fff;
    margin-top: 1em;
        }


#intro{
    display: flex;
    width: 96%;
    height: 90%;
  align-content: center;
    margin: 1%;
   }
.intro_text1{
    flex:0 0 30%;
    color: #fff;
    padding: 2%;
    line-height: 2em;
   }
.intro_img{
    flex:0 0 40%;
    display: flex;
    flex-direction: column;
   padding: 2% 2% 2% 4%;
    text-align: center;
    font-weight: bold;
    color: #fff;
}
.intro_img img{
    width: 94%;
    height: 94%;
      }
.intro_text2{
  flex:0 0 30%;
    color: #fff;
    padding: 2%;
    line-height: 2em;
}

/*---#wrapper4  start--*/
#wrapper4:before {
    display: block;
    clear: both;
    content: "";
}
#wrapper4{
/*    display: flex;*/
    width: 100%;
    height: 850px;
    background-color: #71080f;
    flex-direction: row;
   align-content: center;
    opacity: .8;
 }

.main_img {
   position: relative;
    width: 100%;
    height: 98%;
    overflow: hidden;
}

.main_img img {
    width: 98%;
    height: 93%;
    opacity: .3;
    background-size: cover;
    padding: 1%;
    overflow: hidden;
}

/*-------frontBox  start---------*/

.frontBox{
    position: absolute;
    top: 10em;;
    left: 25em;
    display: flex;
    flex-direction: row;
   width: 50%;
    height: 30%;
     justify-content: center;
    align-content: center;
    color: #fff;
    
     }
 
.front1 {
    flex: 1;
}

.front2{
     flex: 1;
   }

.front3{
     flex: 1;
   }
.front4{
    color: #fff;
    position: absolute;
    top: 60%;
    left: 38%;
}
.iconBox{
    width: 20%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    top: -30%;
    left: 42%;
}
.iconBox ul li{
    float: left;
    width: 10%;
 margin: .5em;
  }
/*----#wrapper5  start ----*/
#wrapper5:before {
    display: block;
    clear: both;
    content: "";
}
#wrapper5{
    width: 100%;
    height: 100px;
    margin: 0 auto;
    position: fixed;
   top: 0%;
     background: #ccc;
    z-index: 10;
       }
#wrapper5 .logo h1{
    width: 10%;
    margin-left: 5%;
    font-size: 3em;
    color: #fff;
    box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
    text-shadow: 1px 1px 0px #283744;
  
}
#wrapper5 .logo p{
       margin-left: 5%;
    color: #fff;
    box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
    text-shadow: 1px 1px 0px #283744;
}

nav{
    width: 35%;
    height: 30%;
    position: relative;
    top: -40%;
    left: 50%;
   }
nav li{
	display: inline;
	float: left;
    color: #71080f;
   
}
nav a{
    color: #fff;
	display: inline-block;
	width: 100px;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
	text-shadow: 1px 1px 0px #283744;
   }
nav li a{
  	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
        
}
nav li:last-child a{
	border-right: 0;
    }

nav a#pull{
	display: none;
}

/*--------popup start ------*/
#popup{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
   display: none;
    position: fixed;
    z-index: 9999;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
}

#popup .cont {
    width: 95%;
    height: 95%;
    background:##2e6b92;
    text-align: center;
    margin: 1% 3%;
    position: absolute;
}
#popup .cont .map{
    width: 70%;
    height: 60%;
    margin: 0 auto;
    margin-top: 8%;
    overflow: hidden;
}
#popup .cont .map img{
    width: 100%;
    height: 100%;
}
#popup .cont .map h2{
    font-size: 2.5em;
    position: absolute;
    top: 4%;
    left: 45%;
    color: #fff;
    font-weight: bold;
}
#popup .cont .map h3{
    font-size: 1.25em;
    position: absolute;
      left: 35%;
    color: #fff;
    font-weight: bold;
}
#popup .cont button {
     width: 2%;
    height: 4%;
    border-radius: 100%;
    text-align: center;
    margin-left: 60%;
    margin-top: 3%;
    overflow: hidden;
    
   }

#popup .cont button img {
  max-width: 230%;
    height:auto;
    background-size: cover;
    margin-left: -49%;
    margin-top: -35%;
    border-radius: 100%;
}
 #cat {
    position: absolute;
     left: 7%;
}


@media screen and (max-width:1024px){
    
  #modal .contents {
    width: 100%;
    height: 60%;
    background: ##2e6b92;
    text-align: center;
/*    margin: 10px 30px;*/
    position: absolute;
      left: -10%;
}
#modal .contents button {
    width: 5%;
    height: 5%;
    border-radius: 100%;
    text-align: center;
    margin-left: 85%;
    margin-top: 10%;
     overflow: hidden;
         }

#modal .contents button img {
    width: 100%;
    height: auto;
    background-size: cover;
    margin-left: -10%;
    margin-top: -30%;
}

    .photo-album h1 {
    position: absolute;
    z-index: 5;
    top: -30%;
    left:7%;
    text-align: left;
    width: 70%;
    font-size: 2.5em;
    font-weight: bold;
    color: #000;
             }
    
    
    .slide-logo p{
    width: 40%;
    height: auto;
    position: absolute;
  top: 30%;
    left: 30%;
     color:#333; 
    font-size: 0.875em;
    text-align: center;
         }
    
.slide-logo span{
    font-size: 2em;
    top: 850px;
}
 
    #works{
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            "item1 item2"
            "item3 item2"
            "item4 item6"
            "item4 item8";
            
        width: 100%;
        height: 2048px;
    }
    .item-1{grid-area: item1;}
    .item-2{grid-area: item2;}
    .item-3{grid-area: item3;}
    .item-4{grid-area: item4;}
    .item-5{display: none;}
    .item-6{grid-area: item6;}
    .item-7{display: none;}
    .item-8{grid-area: item8;}
    
 .intro_title {
    text-align: center;
    font-size: 3.125em;
       color: #fff;
    margin-top: .5em;
        }



#intro{
    position: relative;
   }

.intro_text1{
    position: absolute;
    top: %;
    color: #fff;
    padding: 2%;
    line-height: 1.7em;
    font-size: 1.1rem;
   }
.intro_img{
 height: 60%;
    width: 45%;
    position: absolute;
    top: 38%;
    left: -1%;
    }
.intro_img img{
    width: 100%;
    height: 100%;
      }
.intro_text2{
 position: absolute;
    top: 43%;
    left: 45%;
    color: #fff;
    padding: 2%;
    line-height: 1.7em;
    font-size: 1.1rem;
}
   
.frontBox{
    position: absolute;
    top: 10em;;
    left: 25em;
    display: flex;
    flex-direction: row;
   width: 70%;
    height: 30%;
     justify-content: center;
    align-content: center;
    color: #fff;
    margin-left: 5rem;
       }
 
.front1 {
   flex: 1;
}

.front2{
     flex: 1;
   }

.front3{
     flex: 1;
   }
.front4{
    color: #fff;
    position: absolute;
    top: 60%;
    left: 30%;
    margin-left: 5em;
}
.iconBox{
    width: 30%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    top: -30%;
    left: 38%;
}
.iconBox ul li{
    float: left;
    margin: .5em;
  }
nav {
		border-bottom: 0;
		height: auto;
	}
	nav ul {
		display: none;
		height: auto;
       	}
	nav a {
	  	text-align: center;
	  	width: 100%;
	  	text-indent: 25px;
         font-size: 1.5rem;
                   	}
	nav a#pull {
		display: block;
		background-color: #283744;
		width: 100%;
		position: relative;
	}
	nav a#pull:after {
		content:"";
		background: url('../images/nav-icon1.png') no-repeat;
		width: 30px;
		height: 30px;
/*		display: inline-block;*/
       	position: absolute;
		left: 120%;
		top: 1px;
        color: #283744;
       	}
	nav li {
		float: left;
/*		float: none;*/
		width: 100%;
        background-color: #283744;
      	}
    #popup .cont button {
     width: 4%;
    height: 4%;
    border-radius: 100%;
    text-align: center;
    margin-left: 80%;
    margin-top: %;
    overflow: hidden;
    
   }

#popup .cont button img {
  max-width:200%;
    height:auto;
    background-size: cover;
    margin-left: -30%;
    margin-top: -15%;
    border-radius: 100%;
}
}

/*--------768 mediaquery start----*/

@media screen and (max-width:1024px){

   #modal .contents {
    width: 90%;
    height: 60%;
    background: ##2e6b92;
    text-align: center;
/*    margin: 10px 30px;*/
    position: absolute;
      left: %;
}
    #modal h1{
        color: #fff;
        width: 50%;
    }
#modal .contents button {
    width: 5%;
    height: 5%;
    border-radius: 100%;
    text-align: center;
    margin-left: 85%;
    margin-top: 10%;
     overflow: hidden;
         }

#modal .contents button img {
    width: 100%;
    height: auto;
    background-size: cover;
    margin-left: -10%;
    margin-top: -30%;
}

    .slide-logo p{
    width: 40%;
    height: auto;
    position: absolute;
  top: 55%;
    left: 30%;
     color:#fff;
    font-size: 2em;
    text-align: center;
         }

.slide-logo span{
    font-size: 2em;
    top: 850px;
}
    #works{
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "item1 item2"
            "item3 item2""
            "item4 item6"
            "item4 item8";

        width: 100%;
        height: 1500px;
           }
    .item-1{grid-area: item1;}
    .item-2{grid-area: item2;}
    .item-3{grid-area: item3;}
    .item-4{grid-area: item4;}
    .item-5{display: none;}
    .item-6{grid-area: item6;}
    .item-7{display: none;}
    .item-8{grid-area: item8;}

    #intro{
    position: relative;
   }

.intro_text1{
    position: absolute;
    top: %;
    color: #fff;
    padding: 2%;
    line-height: 1.6em;
    font-size: 1.1rem;
   }
.intro_img{
 display: none;
    }
.intro_img img{
  display: none;
      }
.intro_text2{
 position: absolute;
    top: 57%;
    left:3%;
    color: #fff;
    padding: 1%;
    line-height: 1.6em;
    font-size: 1.1rem;
}
  .frontBox{
    position: absolute;
    top: 10em;;
    left: 4em;
    display: flex;
    flex-direction: row;
   width: 70%;
    height: 30%;
     justify-content: center;
    align-content: center;
    color: #fff;

     }

.front1 {
   flex: 1;
}

.front2{
     flex: 1;
   }

.front3{
     flex: 1;
   }
.front4{
    color: #fff;
    position: absolute;
    top: 60%;
    left: 22%;
}
.iconBox{
    width: 30%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    top: -30%;
    left: 32%;
}
.iconBox ul li{
    float: left;
    margin: .5em;
  }
   nav {
		border-bottom: 0;
		height: auto;
	}
	nav ul {
		display: none;
		height: auto;
	}
	nav a {
	  	text-align: left;
	  	width: 100%;
	  	text-indent: 25px;
           	}
	nav a#pull {
		display: block;
		background-color: #283744;
		width: 100%;
		position: relative;
	}
	nav a#pull:after {
		content:"";
		background: url('../images/nav-icon1.png') no-repeat;
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: px;
        	}
	nav li {
		display: block;
		float: none;
		width: 100%;
	}
	nav li a {
/*		border-bottom: 1px solid #576979;*/

	}
 #popup .cont button {
     width: 4%;
    height: 4%;
    border-radius: 100%;
    text-align: center;
    margin-left: 80%;
    margin-top: %;
    overflow: hidden;

   }

#popup .cont button img {
  max-width:200%;
    height:auto;
    background-size: cover;
    margin-left: -30%;
    margin-top: -15%;
    border-radius: 100%;
}
    #popup .cont h3{
        margin-left: -25%;
        font-size: .8rem;
    }
}




/*-------640 mediaquery start ------*/

@media ( max-width : 640px ){
    #modal .contents {
    width: 90%;
    height: 60%;
    background: ##2e6b92;
    text-align: center;
/*    margin: 10px 30px;*/
    position: absolute;
      left: %;
}
    #modal h1{
        color: #fff;
        width: 50%;
    }
#modal .contents button {
    width: 5%;
    height: 5%;
    border-radius: 100%;
    text-align: center;
    margin-left: 85%;
    margin-top: 10%;
     overflow: hidden;
         }

#modal .contents button img {
    width: 100%;
    height: auto;
    background-size: cover;
    margin-left: -10%;
    margin-top: -30%;
}
 
    .slide-logo p{
    width: 40%;
    height: auto;
    position: absolute;
  top: 55%;
    left: 30%;
     color:#fff;
    font-size: 1.5em;
    text-align: center;
         }
    
.slide-logo span{
    font-size: 2em;
    top: 850px;
}
    #works{
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            "item1 item2"
            "item3 item2""
            "item4 item6" 
            "item4 item8";
                   
        width: 100%;
        height: 1500px;
           }
    .item-1{grid-area: item1;}
    .item-2{grid-area: item2;}
    .item-3{grid-area: item3;}
    .item-4{grid-area: item4;}
    .item-5{display: none;}
    .item-6{grid-area: item6;}
    .item-7{display: none;}
    .item-8{grid-area: item8;}
    
    #intro{
    position: relative;
   }

.intro_text1{
    position: absolute;
    top: %;
    color: #fff;
    padding: 2%;
    line-height: 1.6em;
    font-size: 1.1rem;
   }
.intro_img{
 display: none;
    }
.intro_img img{
  display: none;
      }
.intro_text2{
 position: absolute;
    top: 57%;
    left:3%;
    color: #fff;
    padding: 1%;
    line-height: 1.6em;
    font-size: 1.1rem;
}
  .frontBox{
    position: absolute;
    top: 10em;;
    left: 1em;
    display: flex;
    flex-direction: row;
   width: 70%;
    height: 30%;
     justify-content: center;
    align-content: center;
    color: #fff;
    
     }
 
.front1 {
   flex: 1;
}

.front2{
     flex: 1;
   }

.front3{
     flex: 1;
   }
.front4{
    color: #fff;
    position: absolute;
    top: 60%;
    left: 10%;
}
.iconBox{
    width: 30%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    top: -30%;
    left: 32%;
}
.iconBox ul li{
    float: left;
    margin: .5em;
  }
   nav {
		border-bottom: 0;
		height: auto;
	}
	nav ul {
		display: none;
		height: auto;
	}
	nav a {
	  	text-align: left;
	  	width: 100%;
	  	text-indent: 25px;
           	}
	nav a#pull {
		display: block;
		background-color: #283744;
		width: 100%;
		position: relative;
	}
	nav a#pull:after {
		content:"";
		background: url('../images/nav-icon1.png') no-repeat;
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: px;
        	}
	nav li {
		display: block;
		float: none;
		width: 100%;
	}
	nav li a {
/*		border-bottom: 1px solid #576979;*/

	}
 #popup .cont button {
     width: 4%;
    height: 4%;
    border-radius: 100%;
    text-align: center;
    margin-left: 80%;
    margin-top: %;
    overflow: hidden;

   }

#popup .cont button img {
  max-width:200%;
    height:auto;
    background-size: cover;
    margin-left: -30%;
    margin-top: -15%;
    border-radius: 100%;
}
    #popup .cont h3{
        margin-left: -25%;
        font-size: .8rem;
    }
}


/*-------360 mediaquery start ------*/

@media ( max-width : 360px ){
    #modal .contents {
    width: 90%;
    height: 60%;
    background: ##2e6b92;
    text-align: center;
/*    margin: 10px 30px;*/
    position: absolute;
      left: %;
}
    #modal h1{
        color: #fff;
        width: 50%;
        position: absolute;
        left: -20%;
    }
#modal .contents button {
    width: 5%;
    height: 5%;
    border-radius: 100%;
    text-align: center;
    margin-left: 85%;
    margin-top: 10%;
     overflow: hidden;
         }

#modal .contents button img {
    width: 100%;
    height: auto;
    background-size: cover;
    margin-left: -10%;
    margin-top: -30%;
}

    .slide-logo p{
    width: 40%;
    height: 30%;
    position: absolute;
  top: 55%;
    left: 30%;
     color:#fff;
    font-size: 2em;
    text-align: center;
         }

.slide-logo span{
    font-size: 2em;
    top: 850px;
    margin-top: 1rem;
}
    .special_logo h1{
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }
    #works{
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "item1 item2"
            "item3 item2""
            "item4 item6"
            "item4 item8";

        width: 100%;
        height: 1500px;
           }
    .item-1{grid-area: item1;}
    .item-2{grid-area: item2;}
    .item-3{grid-area: item3;}
    .item-4{grid-area: item4;}
    .item-5{display: none;}
    .item-6{grid-area: item6;}
    .item-7{display: none;}
    .item-8{grid-area: item8;}

    #intro{
    position: relative;
   }

.intro_text1{
    position: absolute;
    top: %;
    color: #fff;
    padding: 2%;
    line-height: 1.6em;
    font-size: .875rem;
   }
.intro_img{
 display: none;
    }
.intro_img img{
  display: none;
      }
.intro_text2{
 position: absolute;
    top: 60%;
    left:3%;
    color: #fff;
    padding: 1%;
    line-height: 1.6em;
    font-size: .875rem;
}
  .frontBox{
    position: absolute;
    top: 10em;;
    left: 1em;
    display: flex;
    flex-direction: column;
   width: 70%;
    height: 30%;
     justify-content: center;
    align-content: center;
    color: #fff;
        }

.front1 {
   flex: 1;
    font-size: .875rem;
       margin-bottom: 2em;
}

.front2{
     flex: 1;
     font-size: .875rem
     margin-bottom: 2em;

   }

.front3{
     flex: 1;
     font-size: .875rem;
        margin-top: 2em;
         margin-bottom: 2em;
   }
.front4{
    color: #fff;
    position: absolute;
    top: 60%;
    left: -10%;
     font-size: .875rem
}
.iconBox{
    width: 50%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    top: -30%;
    left: 22%;
}
.iconBox ul li{
    float: left;
    margin: .5em;
  } 
   nav {
		border-bottom: 0;
		height: auto;
	}
	nav ul {
		display: none;
		height: auto;
	}
	nav a {
	  	text-align: left;
	  	width: 100%;
	  	text-indent: 25px;
           	}
	nav a#pull {
		display: block;
		background-color: #283744;
		width: 100%;
		position: relative;
	}
	nav a#pull:after {
		content:"";
		background: url('../images/nav-icon1.png') no-repeat;
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: px;
        	}
	nav li {
		display: block;
		float: none;
		width: 100%;
	}
	nav li a {
/*		border-bottom: 1px solid #576979;*/
       
	} 
 #popup .cont button {
     width: 4%;
    height: 4%;
    border-radius: 100%;
    text-align: center;
    margin-left: 80%;
    margin-top: %;
    overflow: hidden;
    
   }

#popup .cont button img {
  max-width:200%;
    height:auto;
    background-size: cover;
    margin-left: -30%;
    margin-top: -15%;
    border-radius: 100%;
}
    #popup .cont h2{
     display: none;
    }
    #popup .cont h3{
       display: none;
           }
}

